[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = "*"
pytz = "*"
dotenv = "*"
icalendar = "*"

[dev-packages]
debugpy = "*"
pyright = "*"

[requires]
python_version = "3.10"
